body
{
    font-family: "spartan";
    background-color: hsl(0, 0%, 100%);
    background-image: url(images/bg-pattern-top-desktop.svg);
    background-size: cover;

}
.upper
{
    display: flex;
}
header
{
    display: flex;
    color: hsl(300  , 43%, 22%);
}
.headline
{
    padding-left: 100px;
    font-size: 30px;
    font-weight: bolder;
    padding-top: 100px;
    color: hsl(300, 43%, 22%);
}
.infoline
{
    padding-left: 100px;
    font-size: 15px;
    color: hsl(300, 43%, 22%);
}
.rating
{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: center;
    font-size: 12px;
    font-weight: bold;
    color: hsl(300, 43%, 22%);
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: hsl(300  , 24%, 96%);
    padding: 20px 20px 20px 30px;
    border-radius: 10px;
    width: 400px;
}
.ratings
{
    padding-left: 200px;
    padding-top: 80px;
}
.rate_2
{
    margin-left: 50px;
}
.rate_3
{
    margin-left: 100px;
}
.cards
{
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
}
.profile_1
{
    background-color: hsl(300  , 43%, 22%);
    height: 180px;
    width: 330px;
    padding: 20px 20px 20px 20px;
    border-radius: 1em;
    align-items: center;
}
.ids
{
    display: flex;
    gap:30px;
    align-items: center;
    padding-left: 20px;
}

#review
{
    color: hsl(0, 0%, 100%);
    padding-left: 20px;
    font-size: 14px;
    padding-top: 20px;
}
.ids img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.name
{
    font-size: 15px;
    font-weight: bolder;
    color: hsl(0, 0%, 100%);
}
.tag
{
    font-size: 12px;
    font-weight: bold;
    color: hsl(333, 80%, 67%);
}
.card2
{
    padding-top: 40px;
}
.card3
{
    padding-top: 80px;
}
